.env
.venv/
__pycache__/
*.pyc
*.pyd
*.dll
*.zip
logs/sessions/
logs/server/
model-server/
models/
Lib/
Scripts/
site-packages/
python/
python_certs/
python.exe
pythonw.exe
python3.dll
python310.dll
python310.zip
python310._pth
python.cat
get-pip.py
libcrypto-1_1.dll
libffi-7.dll
libssl-1_1.dll
sqlite3.dll
vcruntime140.dll
vcruntime140_1.dll
LICENSE.txt
tinyllama.gguf

logs/runtime/
